body {
  width: 100% !important;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 20px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100% !important;
  height: 100% !important;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 150%;
  background: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
}

tr, td {
  vertical-align: top;
  padding: 0;
}

p {
  margin: 20px 0;
}

a {
  color: #9c27b0;
}

#link {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  color: #2e7d32;
  text-decoration: none;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: #69f0ae;
  margin: 0;
  border-color: #69f0ae;
  border-style: solid;
  border-width: 10px 20px;
}